h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  background-color: #f0f0f0;
}

.container {
  margin: 0 100px;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

#projects {
  border-collapse: collapse;
  width: 100%;
}

#projects td {
  border: 1px solid black;
}

#projects .projectsTitle {
  text-align: center;
  padding: 10px;
  background-color: gray;
  color: #f0f0f0;
}

#projects .characteristics {
  text-align: center;
  padding: 10px;
}

#projects .projectsName {
  padding: 10px;
  text-align: left;
}

.someparagraph2313 {
  color: rgb(110, 110, 110) !important;
}

.styled-ul {
  padding: 0;
}

.styled-ul li {
  margin: 0 0 0 20px;
  padding: 5px 0;
}

.styled-ul li a {
  color: black;
  text-decoration: none;
}

.styled-ul li a:hover {
  text-decoration: underline;
}

.styled-ol {
  list-style-type: decimal;
  padding: 0;
}

.styled-ol li {
  margin: 0 0 0 20px;
  padding: 5px 0;
  color: black;
}

.styled-ol li::before {
  content: "\20aa";
}

.styled-ol li::after {
  content: "\10";
}

.styled-ol li a {
  color: inherit;
  text-decoration: inherit;
}

.styled-ol li:hover {
  text-decoration: underline;
}

.styled-ol li a:hover {
  text-decoration: underline;
}

.styled-dl {
  margin: 0;
  padding: 0;
}

.styled-dl dt {
  font-weight: bold;
  margin-top: 10px;
}

.styled-dl dd {
  margin-bottom: 10px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.highlighted + li {
  color: blue;
}

.contactInfo > li {
  font-style: italic;
}

.header-container {
  align-items: center;
  margin: 0 100px;
  position: relative;
  height: 40px;
}

.header-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-left a:link {
  font-size: 36px;
  color: black;
  transition: all;
  transition-duration: 300ms;
}

.header-left a:hover {
  text-decoration: none;
  color: gray;
}

.header-left a:active {
  color: blue;
}

.header-links {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
  list-style-type: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-links a {
  color: gray;
  transition: all;
  transition-duration: 300ms;
}

.header-links a:hover {
  text-decoration: none;
  color: black;
}

.header-links a:visited {
  color: purple;
}

.header-links li:first-child a {
  font-size: 20px;
}

.float-right {
  float: right;
}

.fixed {
  position: fixed;
  background-color: #acacac;
  color: rgb(61, 58, 58);
  height: 100px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
